In [16]:
import pandas as pd
try:
    p = pd.read_csv("E:\\terrorist.csv")
except:
    print('File access error..')
p.head(1)

,iyear,imonth,iday,country_txt,city,attacktype1_txt,targtype1_txt,corp1,target1,natlty1_txt,gname,weaptype1_txt,weapsubtype1_txt,weapdetail,nkill,nwound,propextent_txt,ransomamt
0,2012,1,1,Kenya,Garissa,Armed Assault,Business,Locus Pub,Bar,Kenya,Al-Shabaab,Explosives/Bombs/Dynamite,Grenade,Two grenades and AK-47 assault rifles were use...,3.0,14.0,Minor (likely < $1 million),NaN

In [21]:
p.describe()

,iyear,imonth,iday,nkill,nwound,ransomamt
count,43915.000000,43915.000000,43915.000000,41290.000000,39313.000000,2.730000e+02
mean,2014.688079,6.442537,15.664716,3.110463,3.504006,4.066460e+06
std,1.229350,3.390650,8.778536,13.343306,13.988988,2.180638e+07
min,2012.000000,1.000000,1.000000,0.000000,0.000000,-9.900000e+01
25%,2014.000000,4.000000,8.000000,0.000000,0.000000,-9.900000e+01
50%,2015.000000,6.000000,15.000000,1.000000,0.000000,1.586045e+04
75%,2016.000000,9.000000,23.000000,2.000000,3.000000,2.189562e+05
max,2016.000000,12.000000,31.000000,1500.000000,1500.000000,2.000000e+08

In [22]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43915 entries, 0 to 43914
Data columns (total 18 columns):
iyear               43915 non-null int64
imonth              43915 non-null int64
iday                43915 non-null int64
country_txt         43915 non-null object
city                43915 non-null object
attacktype1_txt     43915 non-null object
targtype1_txt       43915 non-null object
corp1               43915 non-null object
target1             43915 non-null object
natlty1_txt         43342 non-null object
gname               43915 non-null object
weaptype1_txt       43915 non-null object
weapsubtype1_txt    39346 non-null object
weapdetail          16985 non-null object
nkill               41290 non-null float64
nwound              39313 non-null float64
propextent_txt      15615 non-null object
ransomamt           273 non-null float64
dtypes: float64(3), int64(3), object(12)
memory usage: 6.0+ MB

In [ ]:
p.columns.values

In [ ]:
p.columns.values
p.rename(columns={'imonth': 'Month','iyear': 'Year','iday': 'Date','country_txt': 'Country','corp1': 'Target Institution',
'targtype1_txt': 'Target Institution Type','city': 'City','target1': 'Target Population type','attacktype1_txt': 'Attack type',
'targtype1_txt': 'Target Institution Type','natlty1_txt': 'Nationality','gname': 'Terrorist Group','nwound': 'Wounded',
'weaptype1_txt': 'Weapon type','weapsubtype1_txt': 'Weapon subtype','weapdetail': 'Weapon Details','nkill': 'Killed',
'propextent_txt': 'Property damage','ransomamt':'Ransom amount'},inplace=True)

In [ ]:
for grp, data in p.groupby('Year'):
    print(grp)
    con=data.Country.unique
    print('\n',con)

In [23]:
p.isnull().sum()

iyear                   0
imonth                  0
iday                    0
country_txt             0
city                    0
attacktype1_txt         0
targtype1_txt           0
corp1                   0
target1                 0
natlty1_txt           573
gname                   0
weaptype1_txt           0
weapsubtype1_txt     4569
weapdetail          26930
nkill                2625
nwound               4602
propextent_txt      28300
ransomamt           43642
dtype: int64

In [78]:
p.fillna('Unknown', inplace=True)

In [ ]:
p[1300:1400]